/* BASIC STYLES HERE */

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.grad-1 {
    background-color: #FAD961;
    background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);
}

.grad-2 {
    background-color: #b0b0b0;
    background-image: linear-gradient(19deg, #a0a0a0 0%, #DDD6F3 100%);
}

.nav-item {
    font-family: 'Ubuntu';
}

.main-page {
    min-height: 90vh;
}

.nav-link {
    font-family: 'DM Sans';
}

.account {
    font-family: 'DM Sans'
}

.main-row {
    min-height: 80vh;
}

.heading-text {
    font-family: 'DM Sans';
}

.card:hover {
    scale: 1.01;
}

.vote-badge {
    bottom: 0.5rem;
}